analisando Dataset de celulares, nesse exemplo vou usar o pandas para entende do que se tratar o cnoteúdo sem usar referência externa

## o arquivo foi baixado do kaggle

In [ ]:
import pandas as pd

import chardet

with open("/content/Mobiles Dataset (2025).csv", 'rb') as f:
    result = chardet.detect(f.read())
print(result['encoding'])

df = pd.read_csv("/content/Mobiles Dataset (2025).csv", encoding=result['encoding'])

ISO-8859-1

foi indentificado que o arquivo possui uma codificação diferente do utf-8

In [ ]:
print(df.head()) # lendo o cabeçalho
print("\n---------------------------------")
print(df.describe()) #lendo a descrição
print("\n---------------------------------")
print(df.info()) #lendo a informação

  Company Name            Model Name Mobile Weight  RAM Front Camera  \
0        Apple       iPhone 16 128GB          174g  6GB         12MP
1        Apple       iPhone 16 256GB          174g  6GB         12MP
2        Apple       iPhone 16 512GB          174g  6GB         12MP
3        Apple  iPhone 16 Plus 128GB          203g  6GB         12MP
4        Apple  iPhone 16 Plus 256GB          203g  6GB         12MP

  Back Camera   Processor Battery Capacity Screen Size  \
0        48MP  A17 Bionic         3,600mAh  6.1 inches
1        48MP  A17 Bionic         3,600mAh  6.1 inches
2        48MP  A17 Bionic         3,600mAh  6.1 inches
3        48MP  A17 Bionic         4,200mAh  6.7 inches
4        48MP  A17 Bionic         4,200mAh  6.7 inches

  Launched Price (Pakistan) Launched Price (India) Launched Price (China)  \
0               PKR 224,999             INR 79,999              CNY 5,799
1               PKR 234,999             INR 84,999              CNY 6,099
2               PKR 244,999             INR 89,999              CNY 6,499
3               PKR 249,999             INR 89,999              CNY 6,199
4               PKR 259,999             INR 94,999              CNY 6,499

  Launched Price (USA) Launched Price (Dubai)  Launched Year
0              USD 799              AED 2,799           2024
1              USD 849              AED 2,999           2024
2              USD 899              AED 3,199           2024
3              USD 899              AED 3,199           2024
4              USD 949              AED 3,399           2024

---------------------------------
       Launched Year
count     930.000000
mean     2022.193548
std         1.862080
min      2014.000000
25%      2021.000000
50%      2023.000000
75%      2024.000000
max      2025.000000

---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               930 non-null    object
 1   Model Name                 930 non-null    object
 2   Mobile Weight              930 non-null    object
 3   RAM                        930 non-null    object
 4   Front Camera               930 non-null    object
 5   Back Camera                930 non-null    object
 6   Processor                  930 non-null    object
 7   Battery Capacity           930 non-null    object
 8   Screen Size                930 non-null    object
 9   Launched Price (Pakistan)  930 non-null    object
 10  Launched Price (India)     930 non-null    object
 11  Launched Price (China)     930 non-null    object
 12  Launched Price (USA)       930 non-null    object
 13  Launched Price (Dubai)     930 non-null    object
 14  Launched Year              930 non-null    int64
dtypes: int64(1), object(14)
memory usage: 109.1+ KB
None

pelo resultado podemos analisa que se tratar de uma listas de smartphones que foram lançados em 2024 mas podemos fazer uma analise profunda porém devemos verificar a qualidade dos dados , cehcando se tem nulos, redudantes e faltantes

In [ ]:
# Mostra a quantidade de valores nulos em cada coluna
print(df.isnull().sum())

# Mostra a porcentagem de valores nulos em cada coluna
print(df.isnull().mean() * 100)

Company Name                 0
Model Name                   0
Mobile Weight                0
RAM                          0
Front Camera                 0
Back Camera                  0
Processor                    0
Battery Capacity             0
Screen Size                  0
Launched Price (Pakistan)    0
Launched Price (India)       0
Launched Price (China)       0
Launched Price (USA)         0
Launched Price (Dubai)       0
Launched Year                0
dtype: int64
Company Name                 0.0
Model Name                   0.0
Mobile Weight                0.0
RAM                          0.0
Front Camera                 0.0
Back Camera                  0.0
Processor                    0.0
Battery Capacity             0.0
Screen Size                  0.0
Launched Price (Pakistan)    0.0
Launched Price (India)       0.0
Launched Price (China)       0.0
Launched Price (USA)         0.0
Launched Price (Dubai)       0.0
Launched Year                0.0
dtype: float64

In [ ]:
# Retorna o número de linhas duplicadas
print(df.duplicated().sum())
print("\n-------------------------")

# Mostra todas as linhas duplicadas
print(df[df.duplicated(keep=False)])

15

-------------------------
    Company Name        Model Name Mobile Weight   RAM Front Camera  \
344         Oppo          A3 128GB          186g   4GB          5MP
347         Oppo          A3 128GB          186g   4GB          5MP
423         Oppo        K11x 128GB          195g   8GB         16MP
424         Oppo        K11x 256GB          195g  12GB         16MP
425         Oppo        K10x 128GB          195g   6GB         16MP
426         Oppo        K10x 256GB          195g   8GB         16MP
427         Oppo      K10 5G 128GB          205g   8GB         16MP
428         Oppo         K9x 128GB          194g   6GB         16MP
429         Oppo         K9x 256GB          194g   8GB         16MP
430         Oppo   K9 Pro 5G 128GB          180g   8GB         16MP
431         Oppo   K9 Pro 5G 256GB          180g  12GB         16MP
432         Oppo       K9 5G 128GB          172g   8GB         32MP
433         Oppo       K9 5G 256GB          172g   8GB         32MP
434         Oppo         K7x 128GB          194g   6GB         16MP
435         Oppo       K7 5G 128GB          180g   8GB         32MP
437         Oppo        K11x 128GB          195g   8GB         16MP
438         Oppo        K11x 256GB          195g  12GB         16MP
441         Oppo        K10x 128GB          195g   6GB         16MP
442         Oppo        K10x 256GB          195g   8GB         16MP
443         Oppo      K10 5G 128GB          205g   8GB         16MP
445         Oppo         K9x 128GB          194g   6GB         16MP
446         Oppo         K9x 256GB          194g   8GB         16MP
447         Oppo   K9 Pro 5G 128GB          180g   8GB         16MP
448         Oppo   K9 Pro 5G 256GB          180g  12GB         16MP
449         Oppo       K9 5G 128GB          172g   8GB         32MP
450         Oppo       K9 5G 256GB          172g   8GB         32MP
451         Oppo         K7x 128GB          194g   6GB         16MP
452         Oppo       K7 5G 128GB          180g   8GB         32MP
791      Infinix  Hot 10 Lite 64GB          195g   3GB          8MP
798      Infinix  Hot 10 Lite 64GB          195g   3GB          8MP

                Back Camera                    Processor Battery Capacity  \
344                    50MP       Snapdragon 6s 4G Gen 1          5000mAh
347                    50MP       Snapdragon 6s 4G Gen 1          5000mAh
423             108MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
424             108MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
425        64MP + 2MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
426        64MP + 2MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
427        64MP + 8MP + 2MP  MediaTek Dimensity 8000-Max         5,000mAh
428        64MP + 2MP + 2MP       MediaTek Dimensity 810         5,000mAh
429        64MP + 2MP + 2MP       MediaTek Dimensity 810         5,000mAh
430        64MP + 8MP + 2MP      MediaTek Dimensity 1200         4,500mAh
431        64MP + 8MP + 2MP      MediaTek Dimensity 1200         4,500mAh
432        64MP + 8MP + 2MP     Qualcomm Snapdragon 768G         4,300mAh
433        64MP + 8MP + 2MP     Qualcomm Snapdragon 768G         4,300mAh
434  48MP + 8MP + 2MP + 2MP       MediaTek Dimensity 720         5,000mAh
435  48MP + 8MP + 2MP + 2MP     Qualcomm Snapdragon 765G         4,025mAh
437             108MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
438             108MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
441        64MP + 2MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
442        64MP + 2MP + 2MP      Qualcomm Snapdragon 695         5,000mAh
443        64MP + 8MP + 2MP  MediaTek Dimensity 8000-Max         5,000mAh
445        64MP + 2MP + 2MP       MediaTek Dimensity 810         5,000mAh
446        64MP + 2MP + 2MP       MediaTek Dimensity 810         5,000mAh
447        64MP + 8MP + 2MP      MediaTek Dimensity 1200         4,500mAh
448        64MP + 8MP + 2MP      MediaTek Dimensity 1200         4,500mAh
449        64MP + 8MP + 2MP     Qualcomm Snapdragon 768G         4,300mAh
450        64MP + 8MP + 2MP     Qualcomm Snapdragon 768G         4,300mAh
451  48MP + 8MP + 2MP + 2MP       MediaTek Dimensity 720         5,000mAh
452  48MP + 8MP + 2MP + 2MP     Qualcomm Snapdragon 765G         4,025mAh
791                    13MP           MediaTek Helio A25         5,000mAh
798                    13MP           MediaTek Helio A25         5,000mAh

     Screen Size Launched Price (Pakistan) Launched Price (India)  \
344   6.7 inches                PKR 59,999             INR 34,999
347   6.7 inches                PKR 59,999             INR 34,999
423  6.72 inches                PKR 59,999             INR 18,000
424  6.72 inches                PKR 64,999             INR 20,000
425  6.59 inches                PKR 54,999             INR 16,990
426  6.59 inches                PKR 59,999             INR 18,990
427  6.59 inches                PKR 64,999             INR 19,999
428   6.5 inches                PKR 49,999             INR 15,999
429   6.5 inches                PKR 54,999             INR 17,999
430  6.43 inches                PKR 69,999             INR 24,999
431  6.43 inches                PKR 74,999             INR 27,999
432  6.43 inches                PKR 59,999             INR 22,999
433  6.43 inches                PKR 64,999             INR 24,999
434   6.5 inches                PKR 44,999             INR 14,999
435   6.4 inches                PKR 49,999             INR 19,999
437  6.72 inches                PKR 59,999             INR 18,000
438  6.72 inches                PKR 64,999             INR 20,000
441  6.59 inches                PKR 54,999             INR 16,990
442  6.59 inches                PKR 59,999             INR 18,990
443  6.59 inches                PKR 64,999             INR 19,999
445   6.5 inches                PKR 49,999             INR 15,999
446   6.5 inches                PKR 54,999             INR 17,999
447  6.43 inches                PKR 69,999             INR 24,999
448  6.43 inches                PKR 74,999             INR 27,999
449  6.43 inches                PKR 59,999             INR 22,999
450  6.43 inches                PKR 64,999             INR 24,999
451   6.5 inches                PKR 44,999             INR 14,999
452   6.4 inches                PKR 49,999             INR 19,999
791   6.6 inches                PKR 19,999              INR 7,999
798   6.6 inches                PKR 19,999              INR 7,999

    Launched Price (China) Launched Price (USA) Launched Price (Dubai)  \
344              CNY 2,999              USD 399              AED 1,499
347              CNY 2,999              USD 399              AED 1,499
423              CNY 1,499              USD 199              AED 1,000
424              CNY 1,699              USD 229              AED 1,200
425              CNY 1,499              USD 199              AED 1,000
426              CNY 1,699              USD 229              AED 1,200
427              CNY 1,799              USD 249              AED 1,300
428              CNY 1,499              USD 199              AED 1,000
429              CNY 1,699              USD 229              AED 1,200
430              CNY 2,199              USD 299              AED 1,500
431              CNY 2,499              USD 329              AED 1,700
432              CNY 1,999              USD 279              AED 1,400
433              CNY 2,199              USD 299              AED 1,500
434              CNY 1,499              USD 199              AED 1,000
435              CNY 1,999              USD 279              AED 1,400
437              CNY 1,499              USD 199              AED 1,000
438              CNY 1,699              USD 229              AED 1,200
441              CNY 1,499              USD 199              AED 1,000
442              CNY 1,699              USD 229              AED 1,200
443              CNY 1,799              USD 249              AED 1,300
445              CNY 1,499              USD 199              AED 1,000
446              CNY 1,699              USD 229              AED 1,200
447              CNY 2,199              USD 299              AED 1,500
448              CNY 2,499              USD 329              AED 1,700
449              CNY 1,999              USD 279              AED 1,400
450              CNY 2,199              USD 299              AED 1,500
451              CNY 1,499              USD 199              AED 1,000
452              CNY 1,999              USD 279              AED 1,400
791                CNY 699              USD 109                AED 399
798                CNY 699              USD 109                AED 399

     Launched Year
344           2024
347           2024
423           2023
424           2023
425           2022
426           2022
427           2022
428           2021
429           2021
430           2021
431           2021
432           2021
433           2021
434           2020
435           2020
437           2023
438           2023
441           2022
442           2022
443           2022
445           2021
446           2021
447           2021
448           2021
449           2021
450           2021
451           2020
452           2020
791           2020
798           2020

In [ ]:
# Mostra os valores únicos de uma coluna (útil para categóricos)
# print(df['coluna'].unique())

#como são dados de hardware os valores costuma se duplicados então provavelmente não existe únicos

KeyError: 'coluna'

agora iremos fazer uma filtragem em 3 colunas para analise

In [19]:
#print(df["Launched Price (USA)"].dtype)

#print(df.columns.tolist())  # Lista todas as colunas disponíveis

# Função para limpar e converter colunas de preço
def clean_price_column(column):
    return (
        column.astype(str)
        .str.replace(r'[^\d.]', '', regex=True)  # Remove tudo exceto números e ponto
        .astype(float)
    )

# Limpa e converte as colunas de preço
df["Launched Price (USA)"] = clean_price_column(df["Launched Price (USA)"])
df["Launched Price (India)"] = clean_price_column(df["Launched Price (India)"])
df["Launched Price (China)"] = clean_price_column(df["Launched Price (China)"])

# Filtra linhas onde o preço nos EUA, Índia ou China seja maior que 500
df_filtered = df[
    (df["Launched Price (USA)"] > 500) |
    (df["Launched Price (India)"] > 42642.54) |
    (df["Launched Price (China)"] > 3643.5)
]

# Seleciona apenas as colunas desejadas (incluindo os novos países)
df_filtered = df_filtered[[
    "Company Name",
    "Model Name",
    "Launched Price (USA)",
    "Launched Price (India)",
    "Launched Price (China)"
]]

# Mostra as primeiras linhas
print(df_filtered.head())

  Company Name            Model Name  Launched Price (USA)  \
0        Apple       iPhone 16 128GB                 799.0
1        Apple       iPhone 16 256GB                 849.0
2        Apple       iPhone 16 512GB                 899.0
3        Apple  iPhone 16 Plus 128GB                 899.0
4        Apple  iPhone 16 Plus 256GB                 949.0

   Launched Price (India)  Launched Price (China)
0                 79999.0                  5799.0
1                 84999.0                  6099.0
2                 89999.0                  6499.0
3                 89999.0                  6199.0
4                 94999.0                  6499.0

pelo resultado da saída os Iphones vendidos ano de 2024 nos USA acima de 500 dolares são parecidos do que em outros paises onde eu usei um converso externo de moeda para parear

In [20]:
iphones = df[df["Model Name"].str.contains("iPhone 16")]
print(iphones[["Model Name", "Launched Price (USA)", "Launched Price (India)", "Launched Price (China)"]])

                 Model Name  Launched Price (USA)  Launched Price (India)  \
0           iPhone 16 128GB                 799.0                 79999.0
1           iPhone 16 256GB                 849.0                 84999.0
2           iPhone 16 512GB                 899.0                 89999.0
3      iPhone 16 Plus 128GB                 899.0                 89999.0
4      iPhone 16 Plus 256GB                 949.0                 94999.0
5      iPhone 16 Plus 512GB                 999.0                104999.0
6       iPhone 16 Pro 128GB                 999.0                 99999.0
7       iPhone 16 Pro 256GB                1049.0                104999.0
8       iPhone 16 Pro 512GB                1099.0                114999.0
9   iPhone 16 Pro Max 128GB                1099.0                109999.0
10  iPhone 16 Pro Max 256GB                1199.0                114999.0
11  iPhone 16 Pro Max 512GB                1299.0                124999.0

    Launched Price (China)
0                   5799.0
1                   6099.0
2                   6499.0
3                   6199.0
4                   6499.0
5                   6999.0
6                   6999.0
7                   7099.0
8                   7499.0
9                   7499.0
10                  7799.0
11                  8199.0

após uma segunda analise mais robusta aparenta que na india é um pouco mais caro entorno de 20% em comparação aos USA porém vamos analisa agora a %

In [21]:
# Calcular diferenças percentuais
df['India Premium (%)'] = ((df['Launched Price (India)']/83 - df['Launched Price (USA)'])/df['Launched Price (USA)']*100).round(1)
df['China Discount (%)'] = ((df['Launched Price (USA)'] - df['Launched Price (China)']/7.2)/df['Launched Price (USA)']*100).round(1)
print(df[['Model Name', 'Launched Price (USA)', 'India Premium (%)', 'China Discount (%)']])

               Model Name  Launched Price (USA)  India Premium (%)  \
0         iPhone 16 128GB                 799.0               20.6
1         iPhone 16 256GB                 849.0               20.6
2         iPhone 16 512GB                 899.0               20.6
3    iPhone 16 Plus 128GB                 899.0               20.6
4    iPhone 16 Plus 256GB                 949.0               20.6
..                    ...                   ...                ...
925          Pad 5G 128GB                 280.0                3.3
926          Pad 5G 256GB                 300.0                4.4
927  Galaxy Z Fold6 256GB                1899.0                4.7
928  Galaxy Z Fold6 512GB                1719.0               24.1
929    Galaxy Z Fold6 1TB                2259.0                7.2

     China Discount (%)
0                  -0.8
1                   0.2
2                  -0.4
3                   4.2
4                   4.9
..                  ...
925                -4.1
926                -6.4
927                -2.4
928               -29.3
929               -10.7

[930 rows x 4 columns]

essa última analise levar a creer que na china tem preço equivalentes ou abaixo , india a cima em comparação aos USA